on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          openai-key: ${{ secrets.OPENAI_API_KEY }}
          max-length: 8000
          model: 'gpt-4'
          # prompt: 'You are helpful assistant is here to review the code. Please review the code change below and provide feedback.'
